<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twobuffers.notificationpanel"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.twobuffers.example.ui.example_1_plain.PlainActivity"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.twobuffers.example.ui.example_2_injected.InjectedActivity"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.twobuffers.example.ui.example_3_injected_mvrx.InjectedMvrxActivity"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.twobuffers.example.ui.example_4_injected_mvrx_2.InjectedMvrx2Activity"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
