<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twobuffers.example.ui.example_1_plain"
    >

    <application>
        <activity
            android:name="com.twobuffers.example.ui.example_1_plain.PlainActivity"
            android:label="1-PlainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />
    </application>

</manifest>
